# dependencies
node_modules/

# production
dist/
build/

# environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/

# vite
.vite/

# cache
.cache/

# docker
postgres-data/

# misc
*.tmp